#seccion-calculadora {
    border: 1px solid rgb(109, 109, 109);
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    gap: 1rem;
}
.moleculaC{
    width: 30rem;
    height: 100%;
    border-right: 1px solid black;
}
.content_cal{
width: 80%;
height: 100%;
}
.botens_C{
    width: 100%;
    height: 15%;
    display: flex;
    gap: 3rem;
}
.btnMol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    border:1px solid rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
}
.btnMol:hover{
    background-color: rgb(211, 211, 211);
    transition: 0.3s ease;
}
.bloque{
    display: none;
        height: 100%;
        flex-direction: column;
        grid-template-rows: 5rem 1fr;
}
.bloque h2{
    font-size: 2rem;
        display: flex;
        align-items: center;
}
.bloque p{
    display: flex;
        font-size: 2rem;
}
.info_mol{
    height: 85%;
    display: flex;
}