body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {

    background-color: white;

    text-align: center;

    padding-left: 25px;
    padding-right: 25px;

    width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
   width: 100px;
   height: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffc107;
}

.imagen{

    background-color: aqua;
    width: 50px;
    height: 50px;

    border-radius: 1000px;
}
.container p{
    text-align: center;



}