* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: monospace;
}
a {
    text-decoration: none;
    color: black;
}
#root {
    display: grid;
    grid-template-rows: 5rem 58rem 25rem 20rem;
    gap: 1rem;
}