body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {

  text-align: center;

  font-size: 20px;

  background-color: #ffffff;
  color: #000000;
  padding: 40px 0;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-section p {
  margin: 0;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #000000;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-bottom img{
  width: 400px;
  height: 200px;
}

.imagen_scl{
  width: 100px;
  height: 100px;

  background-color: aquamarine;
}